{% extends 'home/base.html' %}
{% block index %}

    <!--导航条-->
    {% for i in res %}
    <nav class="breadcrumb">
      <div class="container"> <i class="Hui-iconfont">&#xe67f;</i> <a href="/" class="c-primary">首页</a> <span class="c-gray en">&gt;</span>  <span class="c-gray">文章</span> <span class="c-gray en">&gt;</span>  <span class="c-gray">{{i.title}}</span></div>
    </nav>

    <section class="container pt-20">

        <div class="row w_main_row">
                <div class="col-lg-9 col-md-9 w_main_left">
                        <div class="panel panel-default  mb-20">
                            <div class="panel-body pt-10 pb-10">
                                <h2 class="c_titile">{{i.title}}</h2>
                                <p class="box_c"><span class="d_time">{{i.add_time}}</span><span>编辑：<a href="mailto:wfyv@qq.com">wilco</a></span><span>阅读（{{ i.sort }}）</span></p>
                                <div class="keybq">
                                        <p><span>关键字</span>：<a class="label label-default">{{i.desc}}</a></p>
                                    </div>
                                <ul class="infos">
                                    <div class="tab-category-item">
                                    <img src = "{{ i.image }}" width="820px" height="420px">
                                      </div>
                                    {{i.content|safe}}

                                </ul>
                            {% endfor %}


                                <div class="nextinfo">

                                <div class="page">{{ page_html|safe }}</div>
                                </div>

                            </div>
                        </div>

                        <div class="panel panel-default  mb-20">
                            <div class="tab-category">
                    <a href=""><strong>评论区</strong></a>
                </div>
                            <div class="panel-body">
                                <div class="panel-body" style="margin: 0 3%;">
                                    {% for j in res_board %}
                                <li class="item cl"> <a href="#"><i class="avatar size-L radius"><img alt="" src="http://qzapp.qlogo.cn/qzapp/101388738/696C8A17B3383B88804BA92ECBAA5D81/100"></i></a>
                                    <div class="comment-main">
                                        <header class="comment-header">
                                            <div class="comment-meta"><a class="comment-author" href="#">{{ j.name }}</a>
                                                <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20" class="f-r">{{ j.add_time }}</time>
                                            </div>
                                        </header>
                                        <div class="comment-body">
                                            <p>{{ j.content }}</p>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                              </div>
                            {% endfor %}
                        <!--用于评论-->
                        <div class="mt-20" id="ct">

                        </div>
                        <!--用于回复-->
                        <div class="comment hidden mt-20">

                        </div>

                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <!--热门推荐-->
        <div class="bg-fff box-shadow radius mb-20">
                <div class="tab-category">
                    <a href=""><strong>热门推荐</strong></a>
                </div>
                <div class="tab-category-item">
                    <ul class="index_recd">
                        {% for i in res %}
                        <li>
                            <a href="#">{{ i.title }}</a>
                            <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> {{ i.sort }} </p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

                        <!--图片-->
            <div class="bg-fff box-shadow radius mb-20">
                <div class="tab-category">
                    <a href=""><strong>扫我关注</strong></a>
                </div>
                <div class="tab-category-item">
                    <img data-original="/static/home/temp/gg.jpg" class="img-responsive lazyload" alt="响应式图片">
                </div>
            </div>

                    </div>
                </div>

    </section>
    <footer class="footer mt-20">
            <p>Copyright &copy;2017 wfyvv.com All Rights Reserved. <br>
                <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">皖ICP备17002922号</a><br>
            </p>
    </footer>
    <script type="text/javascript" src="/static/home/plugin/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/home/plugin/layer/3.0/layer.js"></script>
    <script type="text/javascript" src="/static/home/plugin/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="/static/home/plugin/pifu/pifu.js"></script>
    <script type="text/javascript" src="/static/home/js/common.js"></script>
    <script> $(function(){ $(window).on("scroll",backToTopFun); backToTopFun(); }); </script>
    <script type="text/javascript" src="/static/home/plugin/wangEditor/js/wangEditor.min.js"></script>
    <script type="text/javascript">
        $(function () {
                $("img.lazyload").lazyload({failurelimit : 3});

            wangEditor.config.printLog = false;
            var editor1 = new wangEditor('textarea1');
            editor1.config.menus = ['insertcode', 'quote', 'bold', '|', 'img', 'emotion', '|', 'undo', 'fullscreen'];
            editor1.config.emotions = { 'default': { title: '老王表情', data: 'plugin/wangEditor/emotions1.data'}, 'default2': { title: '老王心情', data: 'plugin/wangEditor/emotions3.data'}, 'default3': { title: '顶一顶', data: 'plugin/wangEditor/emotions2.data'}};
            editor1.create();

            //show reply
            $(".hf").click(function () {
                pId = $(this).attr("name");
                $(this).parents(".commentList").find(".cancelReply").trigger("click");
                $(this).parent(".comment-body").append($(".comment").clone(true));
                $(this).parent(".comment-body").find(".comment").removeClass("hidden");
                $(this).hide();
            });
            //cancel reply
            $(".cancelReply").on('click',function () {
                $(this).parents(".comment-body").find(".hf").show();
                $(this).parents(".comment-body").find(".comment").remove();
            });
        });

    </script>
    </body>
    </html>
{% endblock %}