{% extends 'myadmin/base.html' %}
<div class="right">

{% block  right_conent %}
<style>
    .page a{display: inline-block;border: 1px solid #006666; position: relative; 
      line-height: 1.42857143;padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;
      color: #337ab7;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #3399cc; }
    .page .curpage{ background-color: #337ab7;color:white; cursor: default;  z-index: 2;}
  </style>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <h1 class="page-header">操作</h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'article_add' %}">增加文章</a></li>
      </ol>
      <h1 class="page-header">管理</h1>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">ID</span></th>
                <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">标题</span></th>
                <th><span class="glyphicon glyphicon-list"></span> <span class="visible-lg">主图</span></th>
                <th class="hidden-sm"><span class="glyphicon glyphicon-tag"></span> <span class="visible-lg">文章分类</span></th>
                <th class="hidden-sm"><span class="glyphicon glyphicon-comment"></span> <span class="visible-lg">添加时间</span></th>
                <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
            </tr>
          {% for i in res %}
            <tr>
                <td class="center">{{ i.id }}</td>
                <td><a href="#" title="{{ i.desc }}">{{ i.title }}</a></td>
                <td>{% if i.image %}<img src="{{ i.image }}" width="20px" height="20px"> {% endif %}</td>
                <td>{{ i.cat.cat_name }}</td>
                <td>{{ i.add_time }}</td>
                <td class="center">
                    <a href="/myadmin/article_edit?id={{ i.id }}">修改</a> |
                    <a class="red" href="#" onclick="del({{ i.id }})">删除</a></td>
            </tr>
          {% endfor %}

      </table>
      <div class="page">{{ page_html|safe }}</div>
      </div>
      <script>
            //删除操作
                 function del(id){
                     if(confirm('是否需要删除？')){
           
                       location.href='/myadmin/article_del?id='+id
                     }
           
                 }
           
                </script>

{% endblock %}
