{% extends 'myadmin/base.html' %}

<div class="right">

{% block right_conent %}
    <script src="/static/myadmin/js/kindeditor/kindeditor-all-min.js"></script>
    <script src="/static/myadmin/js/kindeditor/lang/zh-CN.js"></script>
    <link rel="stylesheet" href="/static/myadmin/js/kindeditor/themes/default/default.css"/>
     <!--载入kindeditor配置-->
     <script>
        KindEditor.ready(function (k) {
            window.editor = k.create('#content',{
                resizeType:1,
                autoHeightMode : true,
                allowPreviewEmoticons : false,
                allowImageRemote : false,
                items : [
						'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
						'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
						'insertunorderedlist', '|', 'emoticons', 'image', 'link'],
                {#处理url#}
                uploadJson : '/upload/kindeditor',
            });
        })
    </script>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
            <div class="row">
                <form action="{% url 'article_edit' %}" method="post" class="add-article-form">
                        {% csrf_token %}
                    <input type="hidden" name="id" value="{{ res.id }}"/>
                  <div class="col-md-9">
                    <h1 class="page-header">编辑新文章</h1>
                    <div class="form-group">
                      <label for="article-title" class="sr-only" >标题</label>
                      <input type="text" id="article-title" name="title" class="form-control" placeholder="在此处输入标题" required autofocus autocomplete="off" value="{{ res.title }}">
                    </div>
                          <div>
                              <h2 class="add-article-box-title"><span>图片</span></h2>
                              <div  style="display: inline-block;width: 35px;height: 35px;border: 1px solid red; " class="add-article-box-content"   >
                                    <img id="myimage" width="35px" height="35px" src="{{ res.image }}">
                              </div>
                               <input type="file" name="image" onchange="change_img(this)">
                          </div>
                          <div class="add-article-box">
                                <h2 class="add-article-box-title"><span>栏目</span></h2>
                                <div class="add-article-box-content">
                                  <ul class="category-list">
                                          <label>文章分类:</label>
                                          <select name="cat_id">
                                                {% for i in cat_res %}
                                                  <option {% if res.cat_id == i.id %} selected {% endif %}value="{{ i.id }}">{{ i.cat_name }}</option>
                                                {% endfor %}
                                            </select>
                                  </ul>
                                </div>
                    <div class="add-article-box">
                      <h2 class="add-article-box-title"><span>描述</span></h2>
                      <div class="add-article-box-content">
                            <input type="text" class="form-control" placeholder="请输入关键字" name="keywords" autocomplete="off" {{ res.desc }}>
                        <span class="prompt-text">多个标签请用英文逗号,隔开。</span>
                    </div>
                    <div class="add-article-box">
                            <h2 class="add-article-box-title"><span>点击次数</span></h2>
                            <div class="add-article-box-content">
                                  <input type="number" class="form-control" placeholder="请输入关键字" name="count" autocomplete="off"  value="{{ res.count }}">
                              <span class="prompt-text">多个标签请用英文逗号,隔开。</span>
                          </div>
                     <div class="add-article-box">
                        <h2 class="add-article-box-title"><span>排序：</span></h2>
                        <div class="add-article-box-content">
                        <input type="number" class="form-control" placeholder="请输入关键字" name="sort" autocomplete="off"  value="{{ res.sort }}">
                        <span class="prompt-text">多个标签请用英文逗号,隔开。</span>
                    </div>
                    <div class="add-article-box">
                      <h2 class="add-article-box-title"><span>详细</span></h2>
                      <div>
                          <h2 class="add-article-box-title"><span>详细:</span></h2>
                          <textarea name="content" id="content" cols="30" rows="10">{{ res.content }}</textarea>
                       </div>
                    </div>
                  </div>
        
                      <div class="add-article-box-footer">
                        <button class="btn btn-primary" type="submit" name="submit">发布</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
<script>
function change_img(obj){
    file = obj.files[0]
    if(window.FileReader){
       fr = new FileReader()
        fr.onloadend=function(e){
            $('#myimage').attr('src',e.target.result)

        }
        fr.readAsDataURL(file)
    }


}
</script>
{% endblock %}
</div>
